- css_path = static_path(@conn, "/css/app.css")

%head
  %meta(charset="utg-8")
  %meta(http-equiv="X-UA-Compatible" content="IE=edge")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
  %meta(name="description" content="")
  %meta(name="author" content="")

  %title Hello Exsite!
  %link(rel="stylesheet" href="#{css_path}")

  %script(src="//cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js")
  %script(integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous")
