<!DOCTYPE html>
<html lang="en">
  <!-- head 文件-->
  <%= render "_head.html", conn: @conn %>

  <body>
    <div class="header">
      <div class="container">
        <div class="navbar ">
          <a href="/" class="navbar-brand"><b>Exsite</b></a>
          <ul class="nav navbar-nav navbar-right">
            <%= if @current_user do %>
              <li><%= link @current_user.nickname, to: user_path(@conn, :show, @current_user) %></li>
              <li>
                <a id="logout" data-user-id="<%= @current_user.id %>" data-csrf-token="<%= get_csrf_token %>">
                  退出
                </a>
              </li>
            <% else %>
              <li><%= link "登录", to: session_path(@conn, :new) %></li>
              <li><%= link "注册", to: user_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div><!-- /.container-fluid -->

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div class="row">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <span id="csrf-token" data-csrf-token="<%= get_csrf_token() %>"></span>
  </body>
</html>
