/* This file is for your main application css. */
body {
  margin-top: 0;
}

ul.list-group {
  margin-top: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 28px;
  color: #591270;
  float: left;
}

a {
  cursor: pointer;
}

a:hover {
  color: #591270;
}

.topic-list .topic label {
  text-align: right;
  color: #aaa;
  font-weight: normal;
}

.topic-list .topic label, .topic-list .topic .name {
  width: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.topic-list .topic .name a {
  color: #333;
}

.col-md-3 .panel .panel-block {
  padding: 10px;
}

.btn.fullwidth {
  width: 100%;
}

.topic-link {
  background: #eee;
  text-decoration: none;
  padding: 4px;
  border-radius: 5px;
}

.topic-link:hover {
  background: #ddd;
}

.user-link ,
.topic-link {
  color: #591270;
}

.user-link {
  font-weight: bold;
}

.topic-link:hover,
.topic-link:active {
  text-decoration: none;
}

.no-item {
  color: #aaa;
  padding: 10px;
}

.info>a {
  margin-right: 5px;
}

.help-block {
  color: red;
}

.article {
  padding: 10px;
  border: 1px solid #eee;
  background: #fafafa;
}

.CodeMirror {
  height: 250px;
}

pre {
  border: 0;
  padding: 5px;
  background-color: #fafafa;
}

.badge {
  color: white;
  background: #591270;
}

.badge:hover {
  background: #7b3492;
}

.comments {
  margin-top: 20px;
}

.comments .title {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.comments>.media-list>.media{
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee; 
}

.comments .reply-form {
  display: none;
}

.comments .reply-form .replied-label {
  color: white;
  font-size: 12px;
  font-weight: bold;
  background: #591270;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  display: none;
}

.comments .reply-form .replied-label:hover {
  opacity: 1;
}

.comments .reply-form .replied-label .glyphicon-remove:hover {
  font-size: 13px;  
}

.error-info {
  color: red;
  font-size: 12px;
  margin-left: 10px;
  display: none;
}

.comment-action {
  display: flex;
  justify-content: space-between;
}

.comment-action>div>a {
  opacity: 0.8;
  color: #591270;
  margin-right: 10px;
  text-decoration:none;
}

.comment-action>div>a:hover {
  opacity: 1; 
}


.reply-list {
  background: #fbfbfb;
  padding: 10px;
  font-size: 12px;
}

.reply-list li {
  margin-top: 5px;
}

.reply-list .media .reply-action {
  font-size: 12px;
  text-align: right;
  width: 120px;
  float: right;
}

.reply-list .media .reply-action a {
  color: #ccc;
  text-decoration: none;
}

.reply-list .media .reply-action a:hover {
  color: #591270;
}

.reply-list .media .reply-body {
  padding-right: 120px;
  word-break:break-all;
}

.reply-list .media .reply-action>* {
  margin: 0 5px;
}

.comments textarea {
  resize: none;
}

img {
  height:auto;
}

article {
  margin-top: 10px;
}

.list-group-item a {
  padding: 10px;
  display: block;
}

input[type="file"] {
  display: none; 
}

.avatar {
  border-radius: 50%;
}

.img-32 {
  width: 32px;
  height: 32px;
}

.img-48 {
  width: 48px;
  height: 48px;
}

.img-64 {
  width: 64px;
  height: 64px;
}

.user-panel .panel-footer {
  padding: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.user-panel .panel-footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  text-decoration: none;
}

.user-panel .panel-footer a div:first-child {
  font-size: 20px;
}
