<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">友情链接</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://ruby-china.org/" target="_blank">Ruby China</a>
    </li>
    <li class="list-group-item">
      <a href="https://www.phoenix-china.org" target="_blank">PhoenixChina</a>
    </li>
  </ul>
</div>
